<form action="" name='DogForm'>
  <div class="name" ng-hide='name'>
    <span>What is the name of your Dog? <input type="text" ng-model='DogName' required></span>

    <button type='button' ng-click='Name(DogName)'  ng-disabled='DogForm.$invalid'>Next</button>
  </div>

  <div class="age" ng-show='age'>
    <span>How old is {{DogName}} <input type="number" min='0' max='20' required></span>
    <button type='button' ng-click='Age(DogName)'>Next</button>
  </div>

  <div class="weight" ng-show='weight'>
    <span>How much does {{DogName}} weight <input type="number" min='0' required></span>
    <button type='button' ng-click='Weight(DogName)'>Next</button>
  </div>

  <div class="state" ng-show='state'>
    <span>What State does {{DogName}} live in? <fountain-state></fountain-state></span>
    <button type='button' ng-click='State(DogName)'>Next</button>
  </div>

  <div class="breed" ng-show='breed'>
    <span>What breed is {{DogName}} <fountain-breeds></fountain-breeds></span>
    <button type='button' ng-click='Breeds(DogName)'>Next</button>
  </div>

  <div class="color" ng-show='color'>
    <span>What color is {{DogName}} <input type="text" required></span>
    <button type='button' ng-click='Color(DogName)'>Next</button>
  </div>




</form>
