<form action="" name='DogForm'>
  <section ng-hide='name'>What is the name of your Dog?
    <input type="text" ng-model='DogName.name' required name='dname' autofocus>
    <input type="button" value='Next' ng-click='Name(DogName)' ng-disabled='DogForm.dname.$invalid'>
  </section>
  <section ng-show='dogInfo'>
    <ul>
      <li>How OLD is {{DogName.name | uppercase}}
        <input type="number" min='0' max='20' ng-model='DogName.age' required>
      </li>
      <li>Is {{DogName.name | uppercase}}
        <input type="radio" ng-model='DogName.gender' value='Male' name='gender'>Male
        <input type="radio" ng-model='DogName.gender' value='Female' name='gender'>Female
      </li>
      <li>What BREED is {{DogName.name | uppercase}}
        <select ng-model='DogName.breed' name='breed'>
          <option ng-repeat='b in breeds'>{{b.name}}</option>
        </select>
      </li>
      <li>How much does {{DogName.name | uppercase}} WEIGHT?
        <input type="number" min='0' ng-model='DogName.weight'>
      </li>
      <li>Where does {{DogName.name | uppercase}} go to the BATHROOM?
        <select ng-model='DogName.bathroom'>
          <option>Inside completely enclosed fenced area</option>
          <option>Underground electric dog containment system</option>
          <option>Outside loose in unfenced yard</option>
          <option>Permanently Tied/tethered outside</option>
          <option>On tie line for 1 hour or less at a time</option>
          <option>In a permanent Outside Kennel</option>
          <option>Leash Walked</option>
        </select>
      </li>
      <li>Where does {{DogName.name | uppercase}} SLEEP?
        <select ng-model='DogName.sleep'>
          <option>Inside Home</option>
          <option>Garage</option>
          <option>Outside loose in fenced yard</option>
          <option>Outside without any restraints</option>
          <option>Permanent outside kennel</option>
          <option>Tied Out</option>
        </select>
      </li>
      <li>Is {{DogName.name | uppercase}} integral or involved in your work?
        <input type="radio" value='Yes' ng-model='DogName.work' name='work'>Yes
        <input type="radio" value='No' ng-model='DogName.work' name='work'>No
      </li>
      <li>Is {{DogName.name | uppercase}} a FOSTER dog?
        <input type="radio" value='Yes' ng-model='DogName.foster' name='foster'>Yes
        <input type="radio" value='No' ng-model='DogName.foster' name='foster'>No
      </li>
      <li>Is {{DogName.name | uppercase}} FIXED or SPADED?
        <input type="radio" value='Yes' ng-model='DogName.fixed' name='fixed'>Yes
        <input type="radio" value='No' ng-model='DogName.fixed' name='fixed'>No
      </li>
    </ul>
    <input type="button" value='Next' ng-click='DogInfo(DogName)'>
  </section>
  <section ng-show='personalInfo'>
    <ul>
      <li>What is your EMAIL
        <input type="email" ng-model='DogName.email'>
      </li>
      <li>What STATE does {{DogName.name | uppercase}} live in?
        <select ng-model='DogName.state'>
          <option ng-repeat='s in states'>{{s.name}}</option>
        </select>
      </li>
      <li>What type of AREA do you live in?
        <input type="radio" name='area' ng-model='DogName.area' value='Country'>Countryl and/or {{DogName.name | uppercase}} travels with you
        <input type="radio" name='area' ng-model='DogName.area' value='City'>City, Town, Suburb, Campus
      </li>
      <li>Veterinarian Visits?
        <input type="radio" ng-model='DogName.vet' value='annually' name='vet'>Annually
        <input type="radio" ng-model='DogName.vet' value='illness' name='vet'>Annually and would treat for illness or injury
        <input type="radio" ng-model='DogName.vet' value='never' name='vet'>Never
      </li>
      <li>Compliance with Local Laws?
        <input type="radio" ng-model='DogName.compliance' value='Yes' name='compliance'>Yes
        <input type="radio" ng-model='DogName.compliance' value='No' name='compliance'>No
      </li>
      <li>what type of TRANNING does {{DogName.name | uppercase}} have?
        <select ng-model='DogName.tranning'>
          <option>None or Basic</option>
          <option>Intermediate</option>
          <option>Advanced</option>
          <option>Therapy Dog</option>
          <option>Hunting, Gun, Sporting off Leash, Farm, Herding</option>
          <option>Sled dog racing, Musing for hire, Freighting</option>
          <option>War or Police Service dog, Professionally trained Personal Protection or Professional Trained Guard Dog</option>
        </select>
      </li>
    </ul>
    <input type="button" value='Next' ng-click='PersonalInfo(DogName)'>
  </section>
  <section ng-show='homeInfo'>
    <ul>
      <li>Are there any children in the home?</li>
      <li>Number of Dogs in the Home?</li>
      <li>Hav any permanent residents been convicted of animal or domestic abuse in the last 5 years?</li>
      <li>Has {{DogName.name | uppercase}} injured or killed another animal?</li>
      <li>Has Animal Control been called?</li>
      <li>Human Injury?</li>
    </ul>
    <input type="button" value='Finished' ng-click='HomeInfo(DogName)'>
  </section>
</form>
