<form action="" name='DogForm'>
  <p ng-hide='name'>What is the NAME of your Dog?
    <input type="text" ng-model='DogName.name' autofocus>
    <input type="button" ng-click='Name(DogName)' value='Next'>
  </p>

  <p ng-show='age'>What AGE is {{DogName.name | uppercase}}?
    <input type="number" min='0' max='20' ng-model='DogName.age'>
    <input type="button" ng-click='Age(DogName)' value='Next'>
  </p>

  <p ng-show='weight'>How much does {{DogName.name}} WEIGHT?
    <input type="number" min='0' ng-model='DogName.weight'>
    <input type="button" ng-click='Weight(DogName)' value='Next'>
  </p>

  <p ng-show='color'>What COLOR is {{DogName.name}}?
    <input type="text" ng-model='DogName.color'>
    <input type="button" ng-click='Color(DogName)' value='Next'>
  </p>

  <p ng-show='gender'>What GENDER is {{DogName.name}}?
    <input type="radio" ng-model='DogName.gender' value='Male'>Male
    <input type="radio" ng-model='DogName.gender' value='Female'>Female
    <input type="button" ng-click='Gender(DogName)' value='Next'>
  </p>


  <p ng-show='state'>What States does {{DogName.name}} live in?
    <select name="" id="" ng-model='DogName.state'>
      <option ng-repeat='s in states'>{{s.name}}</option>
      <input type="button" value='Next' ng-click='States(DogName)'>
    </select>
  </p>

  <p ng-show='breed'>What Breed is {{DogName.name}}?
    <select name="" id="" ng-model='DogName.breed'>
      <option ng-repeat='b in breeds'>{{b.name}}</option>
      <input type="button" value='Next' ng-click='Breeds(DogName)'>
    </select>
  </p>

</form>
