html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #5aadbb;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
}
.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
}
.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #cf4646;
  color: white;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.techs-container {
  margin: 1rem;
}
.techs-h2 {
  font-weight: 300;
  font-size: 1.5rem;
}
.techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tech {
  height: 15rem;
  width: 15rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.tech-logo {
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem;
}
.tech-h3 {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}
*{
  margin:0;
  border:0;
  padding:0;
}
body{
  /*background-color:#385076;*/
  /*background-color:#e8eeef;*/
  background-color:lightgray;
}
p{
  text-align:center;
  background-color:#339999;
}
.background-image{
  background-image:url('app/images/dogRun.jpg');
  background-repeat:no-repeat;
  background-position:center;
  height:550px;
  z-index:-1;
  -webkit-filter:blur(4px);
  -moz-filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  filter:blur(4px);
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
section{
  /*border:3px solid red;*/
  margin-left:40%;
  margin-top:15%;
}
input{
  font-family:Georgia,'Times New Roman', Times, serif;
  background:rgba(255,255,255,.1);
  border:none;
  font-size:16px;
  margin:0;
  outline:0;
  padding:7px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  /*background-color:#e8eeef;*/
  background-color:#385076;

  color:#8a97a0;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow:0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom:30px;
}
input[type=button]{
  background-color:#339999;
  color:white;
}
select{
  background-color:#385976;
  color:gray;
}
.dogInfo{
  border:1px solid red;
  margin-left:20%;
  margin-top:5%;
  margin-right:20%;
  background-color:transparent;

}
.dogInfo ul{
  list-style-type:none;
}
